<img src="images/image.png" alt="" width="100" style="float:left; margin-right: 50px">
<h2>Agustin Rivero</h2>

<p>Agustin Rivero Ibáñez es el creador de esta pagina web para el desarrollo de la asignatura CORE</p>