<!DOCTYPE html>
<html>
<head>
    <title>P8 Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h1>P8 Quiz</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/quizzes">Quizzes</a>
        <a href="/credits">Credits</a>
    </nav>

    <section>
        <div>
            <%- body%>
        </div>
    </section>
    <footer>
        <p>Gracias por visitarnos!</p>
    </footer>
    
</body>
</html>